doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Result 
        script(src="../app.js")  

    body 
        h1(style='text-align: center;') Data
        table(style = 'border:1px solid black; width: 100%;')
            tr 
                th(style = 'border:1px solid black') ID
                th(style = 'border:1px solid black') Name
                th(style = 'border:1px solid black') Designation
            each e in results
                tr
                    th(style = 'border:1px solid black') #{e.id}
                    th(style = 'border:1px solid black') #{e.name}
                    th(style = 'border:1px solid black') #{e.designation}

